.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: black;
}
.inside{
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: black;
}
.mygridStyle Line {
    -fx-stroke   : red;
    -fx-border-radius: 50px;
    -fx-spacing: 8;
}
.grid {
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

