.parent {
    -fx-background-color: #303138;
}

FontAwesomeIconView:hover {
    -fx-cursor: hand;
}

.close-btn {
    -fx-background-color: transparent;
}

.close-btn:hover {
    -fx-background-color: #E81123;
}

.min-btn {
    -fx-background-color: transparent;
}

.min-btn:hover {
    -fx-background-color: #171717;
}

.full-btn {
    -fx-background-color: transparent;
}

.full-btn:hover {
    -fx-background-color: #171717;
}

.textField {
    -fx-background-color: #dfdfdf;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #ffffff;
    /* -fx-border-color :  black;
    -fx-border-radius : 5; */
}

.textField:focused {
    -fx-background-color: #777777;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
}

.btns-navi {
    -fx-background-color: #404089;
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

.btns-navi:hover {
    -fx-background-color: #232375;
    -fx-text-fill: #a49f9f;
}

.btns-game {
    -fx-background-color: #1d1f8a;
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

.btns-game:hover {
    -fx-background-color: #232375;
    -fx-text-fill: #9B111E;
}

.textArea {
    -fx-background-color: #50509e;
}

.gridPane {
    -fx-background-color: #252679;
}

.gameRules {
    -fx-background-color: #1d1f8a;
    -fx-background-radius: 30px;
}

.signinbtn {
    -fx-background-color: #364995;
}

.signinbtn:hover {
    -fx-background-color: #2545c9;
    -fx-text-fill: #dad4d4;
}

.gameBackground {
    -fx-background-image: url("../image/beach.jpg");
    -fx-background-size: 796px 547px;
}
.labelColor{
    -fx-background-color: #50509e
;
}
.textAreaColor{
    -fx-control-inner-background : #50509e;
    -fx-text-fill: white;
    -fx-highlight-fill: black;
    -fx-highlight-text-fill: green;
}
